@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Pacifico&display=swap');

:root {
  --font-family-main: Pacifico, ans-serif;
  --font-family: Poppins, ans-serif;
  --color-main: #45591b;
  --color: #588c23;
  --border-light: #dfebf2;
  --font-size-b: 60px;
  --font-size-m: 30px;
  --font-size-s: 20px;
  --font-size-xs: 14px;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}
